p{
   font-size:  28px;
}
#mathead{
    background-image: url(../images/annie-spratt-QckxruozjRg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-profil{
    background-image: url(../images/avatar-3637561_960_720.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
}
.container {
    height: 100vh;
    position: relative;
  }
  
  .vertical-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /*************************************/
 #about{
    background-image: url(../images/cytonn-photography-ZJEKICY5EXY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .my-btn{
    font-size: 30px;
    border: none;
    padding: 20px 50px;
    border-radius: 20px;
    color: #fff;
  }

  /***************************************/

  #myprojects{
    background-image: url(../images/goran-ivos-iacpoKgpBAM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }

  .imgcard {
    position: relative;
  }

  .imgcard:hover .overlay {
    transform: scale(1);
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*******************************************/

  @media(max-width: 560px) {
    .img-profil{
        width: 130px;
        height: 130px;
    }
    h1{
        font-size: 30px;
    }
    .my-btn{
        font-size: 20px;
        border: none;
        padding: 10px 30px;
        border-radius: 20px;
        color: #fff;
      }
      p{
          font-size: 20px;
      }
  }